<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Artifact-TestDevOps" value="https://pkgs.dev.azure.com/kganesan23-TestDevOps/91f5bc07-faad-4a95-b14b-8b8c875cc182/_packaging/Artifact-TestDevOps/nuget/v3/index.json" />
  </packageSources>
</configuration>